<ion-header>
    <ion-toolbar>
      
       <ion-buttons slot="start">
        <!-- <ion-icon slot="icon-only" name="menu-outline" color="danger"></ion-icon> -->
        <ion-button (click)="mostrarMenu()">
          <ion-icon slot="icon-only" name="menu-outline" color="danger"></ion-icon>
        </ion-button>
                
      </ion-buttons> 
    <ion-title>Inicio</ion-title>
  
  
      <!-- <ion-title color="danger">    <ion-chip>
        <ion-avatar>
            <img src="assets/avatars/{{actPerfil.avatar}}"/>
        </ion-avatar>
        <ion-label> {{actPerfil.nombre}}</ion-label>
      </ion-chip></ion-title> -->
  
      <!-- <ion-avatar slot="end">
        
        <img src="/assets/padel.jpg"/>
      </ion-avatar>
     -->
     <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="log-out-outline" color="danger"></ion-icon>
      <!-- <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline" color="danger"></ion-icon>
        
      </ion-button> -->
    </ion-buttons>
    </ion-toolbar>
  
   
    
  
    
  </ion-header>
<ion-content>

</ion-content>

